.header {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 800;
    line-height: 1;
}

.home__button{
	width: 82px;
	height: 82px;
}

.navigation__button {
	color: #3a3a3a;
}
a {
	text-decoration: none;
}


.navigation {
	margin: 1.45em 0 0;
    display: inline;
    padding-right: 20px;
    margin-right: 0.875em;
    margin-left: 2em;
    letter-spacing: 0.03em;
    word-spacing: 1.2em;
    font-size: 13px;
    float: right;
    margin-top: 1.65em
}


.pageLinks {
	color: #EE4938;
}

.note, .comments, .comment-form {
	margin: 100px 350px 0px 350px;
}

.note__title, .comments__count, .comment-form__title {
	font-size: 50px;
}


.note__links {
	margin: 0;
	font-style: italic;
	color: #888888;
}

.note__link {
	color: #888888;
	text-decoration: none;
}

.note p, .comments p {
	font-size: 25px;
}

.note__body-link {
	color: red;
}

.note__body-link:hover {
	color: #888888;
}

.note__link:hover {
	color: red;
}

.note__video-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 57%;
}

.note iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.comments__prompt {
	margin: 15px 0;
}

.comments a {
	color: red;
}

.comments a:hover {
	color: #888888;
}

.comment-form__form {
	margin-bottom: 150px;
	font-size: 25px;
}

.comment-form__form-element-partial-width {
	width: 40%;
	padding: 5px;
}

.comment-form__form-element-entire-width {
	width: 100%;
	padding: 5px;
}

.comment-form__form-element-partial-width, 
.comment-form__form-element-entire-width, 
.comment-form__form input[type="submit"] {
	font-size: 25px;
	font-family: serif;
}

.comment-form__form input[type="submit"] {
	color: white;
	background-color: #000;
	border: none;
	padding: 15px;
	width: 120px;
}

.comment-form__form input[type="submit"]:hover {
	background-color: red;
}

.main {
	font-size: 22px;
	color: #3a3a3a;
	display: block;
	margin-left: 150px;
	margin-right: 150px;
	padding: 40px;
	font-family: "leitura-news", serif;
}


.topLinks__item {
	color: red;
	font-size: 20px;
}


.topLinks {
	word-spacing: .05em;
	font-size: 16px;
	border-bottom: solid;
	border-width: 1px;
	border-color: rgb(200, 200, 200);
	padding-bottom: 40px;

}

.project {
	color: #3a3a3a;
	display: flex;
	border-bottom: solid;
	border-width: 1px;
	border-color: rgb(200, 200, 200);
	padding: 20px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: "leitura-news", serif;
    line-height: 1.6;
    font-size: 22px;
    align-items: center;
}

.project__image {
	width: 370px;
	height: 325px;
}

.project__description {
	text-align: left;
	display: block;
	margin-left: 325px;
	flex-direction: row;
}


.bottomLinks {
	color: #3a3a3a;
	font-family: "leitura-news", serif;
	padding-top: 60px;
	padding-bottom: 150px;
    margin-left: 150px;
    word-spacing: .05em;
    font-size: 20px;
}

.bottomLinks__item {
	color: #EE4938;
}


.article {
	flex-direction: row;
	color: #3a3a3a;
	/*border-bottom: solid;*/
	border-width: 1px;
	border-color: rgb(200, 200, 200);
	padding: 20px;
	margin-left: 200px;
	margin-right: 200px;
	font-family: "leitura-news", serif;
    line-height: 1.6;
    font-size: 18px;
    align-items: center;
    overflow: hidden;
}

.article__image {
	display: flex;
	justify-content: space-around;
}

.article__title {
	margin-left: 75px;
	color: #3a3a3a;
    font-family: "leitura-news", serif;
    line-height: 1.6;
    font-size: 100%
}



.article__description {
	margin-left: 75px;
	color: #3a3a3a;
    font-family: "leitura-news", serif;
    line-height: 1.6;
    font-size: 100%
}


.bottomLink {
	font-family: "nimbus-sans", sans-serif;
	padding-top: 60px;
	padding-bottom: 150px;
    margin-left: 150px;
    word-spacing: .05em;
    font-size: 20px;
    color: #EE4938;
}


.footer {
	color: #3a3a3a;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
}



.footer__item {
	/*display: flex;*/
	/*justify-content: space-between;*/
    padding-top: 2em;
    margin-top: 1em;
    padding-bottom: 5em;
    font-size: 13px;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 800;
    letter-spacing: 0.02em;
    margin-right: 50px;
    margin-left: 50px;
}

.footer__itemImage{
	width: 12px;
	height: 12px;
	color: #EE4938;

}
